html, body {
    max-width: 100%;
    background: url("../images/background.jpg") fixed no-repeat;
    background-size: 100%;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.nav-item {
    font-size: 20px;
    padding-right: 10px;
  }

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link {
    border: none !important;
}

a.text-secondary:hover {
    color: #5B83A6!important;
}

.nav-tabs .nav-link.active {
    color: #314759!important;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 10%;
    border-color: #dee2e6 #dee2e6 #fff;
}

.inline-header {
    display:inline-block;
    vertical-align: sub;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    /* background-color: #fff; */
    text-align:center;
}

.img-ofself {
    width:385px;
    height:385px;
    object-fit: cover;
    margin-top:5px;
    border-radius:50%;
    margin-right:5px;
}

.inline-msg { 
    display:inline-block;
    width:60%;
    position: relative;
    top: 60px;
}

.inline-msg-img {
    display:inline-block;
    padding-right: 10px;
    position: relative;
    top:-40px;
}

.inline-download {
    display:inline-block;
    width:25%
}

#myTabContent {
    margin-top:80px;
}

.logos {
    display:flex;
    padding: 5px;
    width: 300px;
}

.techos {
    text-align: center;
}

.tech-stack {
    display: inline;
    padding: 5px;
    width: 100px;
}

.contact-me {
    display:flex;
    justify-content: space-around;
    text-align: center;
    width:115%;
}

.fa {
    font-size: 7em !important;
}

.projects-left-output-container{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    margin-left:10px;
}

.projects-right-output-container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;
}

.center-img{
    margin:0px auto;

}